
body 
{
	margin: 0;
	padding: 0 0 25px 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #fff;
}
			
#header
{
	width:765px;
	margin: 0 auto;
	padding: 0;
	text-align: left;	
	height:90px;
	padding-bottom:10px;
	background-color: #CCCCFF;
}

#header p
{
	font-size: 11px;
	padding-left: 5px;
}
#main
{
	width: 765px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	border-left: none;
	position:relative;
	clear:both;
	/* background-color: #CCCCFF; */
}
	
#leftcol
{
/*	position: absolute; */
	left: 0;
	top: 0;
	font-size: 100%;
	width: 250px;
	padding: 0;
	margin: 13px 0 0 0;	
	float: left;
	height: 1000px;

}

#middlecol
{
	margin: 0 0 0 230px;
	padding: 10px 0 0 0;
	
	padding:0;
	font-size: 110%;
}

#menu
{
	padding-left: 0px;
}

div.popup
{
	border-top: thin solid blue;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 200px;
	padding: 0px;
}

div.popup h4
{
	background: #CCCCFF;
	border-right: solid thin blue;
	border-left: solid thin blue;
	padding: 5px 7px 5px 5px;
	margin: 0px;
}

div.popup iframe
{
	background: white;
	margin: 0px;
	border-bottom: solid thin blue;
	border-right: solid thin blue;
	border-left: solid thin blue;
}

li.nav
{
	float:left;
	margin:0;
	padding:0;
	padding:8px 0px 0 13px;	
	list-style-type:none;
	font-size: large;
	font-weight: bold;			
}

ul.nav
{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom: 10px;
	background-color:#CED9EE;
}
	
ul.nav li
{
	width: 225px;
	border-top:1px solid #FFFFFF;
}	
	
ul.nav li a
{
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}	

ul.nav li a:hover
{
	text-decoration:underline;
}

h2.nav
{
	width: 220px;
	background-color: #0099CC;
	margin: 0px;
	padding: 5px 0px 5px 5px;
	border-bottom: solid thin white;
	font-size: 13px;	
}

h2.nav a
{
	text-decoration:none;
	color: #FFFFFF;
}

h2.nav a:hover
{
	text-decoration:underline;
}

h2.nav a:visited
{
	color: #FFFFFF;
}				

span.subnav
{
	font-size:20px;
	font-weight:bold;
	cursor: pointer;
	
}

ul.subnav
{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom: 10px;
	background-color:#CED9EE;

}

.result
{
	
	width: 100%;
}

.author
{
	font-weight: bold;
}

.tweet
{
	background-color: #FFFF99;
	margin: 5px;
	height: 50px;
}

.tweetNum
{
	float: left;
}

.avatar
{
	float:left;
	margin: 0 2px 0 0;
}

.twitterDate
{
	font-size: -1;
	float: right;
	font-style: italic;
}

.result .nprModStory1,.result .nprModStory2,.result .nprModStory3
{
	margin: 10px 10px 10px 30px;
	border: solid thin black;
	padding: 5px;
	height: 115px;
}

#leftcol .nprModStory1,#leftcol .nprModStory2,#leftcol .nprModStory3
{
	padding: 0 30px 0 0;
}

.linkCheckbox
{
	margin: 1px;
}

.resultsNav
{
	height: 20px;
}	

.newer
{
	float: left;
	
}

.older
{
	float: right;
}

.arrow
{
	display: none;
}	
